body {
  background-color: #f3f7fa;
  margin: 0 auto;
  overflow-x: hidden;
}

.logo {
  display: block;
  margin: 40px auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ant-spin {
  display: block;
  margin: 20px;
}
@media (max-width: 767px) {
  .content {
    justify-content: center;
  }
}
